/* -----------------------------------FOOTER--------------------------------------- */

.footer{
    background-color: black;
    height: 100px;
    color: #ebe6e0;
    @include displayFlex;
}

.footer-content{
    /* margin: 0 25px; */
    @include displayFlex;
    padding: auto 0;
    cursor: pointer;
    
}

.footer-content p{
    margin: 0 25px;
}



.footer-content p:hover{
    font-weight: 500 ;
}

.footer-link-cv{
    border: 2.5px solid white;
    border-radius: 8px;
    /* width: fit-content; */
    padding: 5px 5px;
}

.footer-link-cv:hover{
    background-color: white;
    color: black;
}
