/* -----------------------------SECTION EXPERIENCES--------------------------- */

.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.carousel {
    max-width: 100%;
    /* margin-bottom: 30px; */
}

  /* Ajustement de la largeur du carousel selon les tailles d'écran */
  @media (min-width: 768px) {
    .carousel {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .carousel {
        width: 75%;
    }
}


.carousel-item img {
    margin: 0 auto;
    cursor: pointer;
    max-height: 500px; /* Limite la hauteur maximale pour éviter de déformer l'image */
    object-fit: contain;
}

.image-caption {
    text-align: center;
    color: #ebe6e0;
    padding: 10px;
}

.bi-caret-right-fill, .bi-caret-left-fill{
    font-size: 3em;
}

.bi-caret-right-fill:hover, .bi-caret-left-fill:hover{
    color: white;
}

.carousel-control-next, .carousel-control-prev{
    width: auto;
}

#role-olfeo{
    text-align: center;
}
