body {
    display: flex;
    justify-content: center;
    background: rgb(6,213,249);
    background: linear-gradient(90deg, rgba(6,213,249,0.6040616930365896) 0%, rgba(55,131,255,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculIMC {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.calculIMC h1 {
    font-weight: lighter;
}

.userHeight, .userWeight{
    display: flex;
    flex-direction: column;
}

input[type="text"]:focus {
    outline: none;
}
input[type="text"]:focus::placeholder {
    color: transparent;
}


#taille, #poids {
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    margin: 15px;
}

#resultat {
    margin-top: 0;
}

#imc, #resultat {
    font-size: 1.7em;
}

#calculer {
        all: unset;
        cursor: pointer;
        background-color: rgb(252, 198, 99);
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
}