/* ============================= */
/* Espacement entre sections      */
/* ============================= */
.section-spacing {
  padding-top: var(--section-spacing-desktop);
  padding-bottom: var(--section-spacing-desktop);
  // scroll-margin-top: 100px; // hauteur approx. du header fixe, pour les ancres

  @media (max-width: 992px) {
    padding-top: var(--section-spacing-tablet);
    padding-bottom: var(--section-spacing-tablet);
  }

  @media (max-width: 576px) {
    padding-top: var(--section-spacing-mobile);
    padding-bottom: var(--section-spacing-mobile);
  }
}