// Section "experiences"
.experiences {
    padding-top: 150px; // Espacement supérieur pour la section
    background-color:  var(--background-color); // Couleur de fond foncée avec transparence
    min-height: 100vh; // S'assurer que la section prend toute la hauteur de la fenêtre
    color: var(--text-color); // Couleur de texte claire
    box-sizing: border-box; // Assurer que les padding ne modifient pas les dimensions de la section
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }

h2{
  font-family: "Readex Pro", serif;
  font-weight: 500;
}

p {
  font-family: "Signika", sans-serif;
  font-size: 1.6em;
  color: var(--text-color);
}

.carousel {
  width: 100%;
  min-height: 45vh; /* Garantir que le carousel occupe toute la hauteur de la fenêtre */
}

.carousel-inner {
  max-height: 400px; /* Assurez-vous que le contenu respecte la hauteur maximale */
}

.image-container {
  width: 100%;
  height: 400px; /* Fixez la hauteur des images */
  overflow: hidden; /* Cachez le dépassement éventuel */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustez l'image pour qu'elle remplisse l'espace sans distorsion */
  transition: transform 0.3s ease; /* Ajoutez une animation de zoom */
}

.image-container img:hover {
  cursor: zoom-in;
  transform: scale(1.1); /* Ajoutez un léger zoom au survol */
}

.carousel-caption-below {
  text-align: center;
  margin-top: 10px; /* Réduisez l'espacement en dessous */
  font-size: 1em; /* Ajustez la taille du texte */
  color: #f5f5f5;
  font-family: "Signika", sans-serif;
  font-weight: 500;
}

/* Positionner les boutons de contrôle en dehors de l'image */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%); /* Centrer précisément */
  z-index: 5; /* Assurez-vous que les boutons sont au-dessus de l'image */
  
}

.carousel-control-prev {
  left: -120px; /* Placer le bouton précédent à gauche du carousel */
  
}

.carousel-control-next {
  right: -120px; /* Placer le bouton suivant à droite du carousel */
}


.carousel-control-prev-icon,
.carousel-control-next-icon  {
  color: var(--text-color);
  background-size: contain;
  width: 3rem;
  height: 3rem;
  box-shadow: none !important;
}


  
  // Container pour les éléments de la section "experiences"
  .row-xp {
    width: 80%; // Largeur de la zone de contenu
    margin: 0 auto; // Centrer la section horizontalement
    @include displayFlex;
    text-align: justify; // Justifier le texte pour une présentation uniforme
    box-sizing: border-box; // Assurer que le padding n'affecte pas les dimensions
    padding-bottom: 10px;
  }
  
  // Liens dans la section "experiences"
  .linkOlfeo, a {
    text-decoration: none; // Retirer le soulignement par défaut des liens
    color: var(--text-color); // Couleur de texte claire pour les liens
    font-weight: 600; // Mettre en valeur les liens avec un poids de police plus lourd
    transition: color 0.3s ease; // Ajouter une transition pour le changement de couleur
  
    &:hover {
      text-decoration: underline;// Changer la couleur au survol
    }
  }

  li {
    font-size: 1.3em;
    font-family: "Signika", sans-serif;
    color: var(--text-color);
  }

  /* Section Témoignages */
  .tem {
    
    color: var(--text-color);
    
    text-align: left;
    border-radius: 200px 25px 200px 26px;
    min-height: 75vh;
    width: 100%;
    // max-width: 75%;
    // padding: 40px;
    // box-shadow: 0 10px 50px rgba(0, 0, 0, 0.637);
    // overflow: auto;
  }
  
  .tem p {
    font-family: "Signika", sans-serif;
    font-weight: 400;
    font-style: normal;
    // margin: 0 auto;
    line-height: 1.6;
    color: var(--text-color);
    text-align: left;
    font-size: 1.8em;
  }
  
  .tem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  @media screen and (max-width: 800px) {
    /* Section exfo - Marges pour les petits écrans */
    // .tem {
    //   margin-top: 100px; // Ajouter un espacement en bas
    // }
  }
  
  // Media Query pour les petits écrans
  @media screen and (max-width: 770px) {
    /* Section exfo - Marges pour les petits écrans */
    .section-exfo {
      width: 90%;
    }
  
    .experiences {
      height: 100%;
    }
  
    /* Modification du titre dans la section "experiences" */
    .experiences h2 {
      text-align: left; // Centrer le titre pour les petits écrans
    }
  
    /* Modification du texte dans la section "experiences" */
    .experiences p {
      text-align: start; // Aligner le texte au début pour une meilleure lisibilité sur petits écrans
      font-size: 1.3em;
    }

    .tem p {
      font-size: 1.4em;
      text-align: left;// Réduire la taille du texte dans les témoignages sur petits écrans
    }
  }
  