/* Style principal de la navbar */
#nav {
    background-color: #121212;;
    color: #EAEAEA ;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    overflow: visible;
    transition: height 0.3s ease; 
  }
  
  /* Hauteur ajustée lorsque la navbar est ouverte */
  #nav.show {
    height: auto;
  }
  
  /* Alignement des liens dans la navbar */
  .navbar-nav {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* Style des liens de navigation */
  .navbar-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; /* Largeur ajustée automatiquement */
    color: #f5f5f5;
    padding: 10px; /* Ajout de padding pour l'accessibilité */
  }

  .navbar-toggler{
  border: none;
  background: transparent;
  color: #f5f5f5;
  padding: 5px;
  font-size: 30px; /* Taille du bouton burger */
  z-index: 1000;
  // position: absolute;
  // right: 15px; /* Positionne le bouton à droite */
  // top: 15px; /* Positionne le bouton en haut */
  }
  
  /* Style des liens de la navbar */
  .nav-link {
    position: relative;
    font-family: "Readex Pro", serif;
    font-weight: 600;
    font-size: 1.6em;
    text-decoration: none;
    padding-bottom: 5px; /* Espace pour souligner les liens */
  }
  
  /* Soulignement des liens actifs */
  .router-link-exact-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50;
    width: 60%;
    height: 2px;
    background-color: #f5f5f5; /* Couleur du soulignement */
  }
  
  /* Suppression du soulignement pour certains liens */
  .no-underline::after {
    display: none;
  }
  
  /* Style du dropdown */
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Menu déroulant du dropdown */
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 0.1rem);  
    left: 15%;
    z-index: 1050;
    background: linear-gradient(to top, #444444, #121212);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Affichage du menu déroulant */
  .dropdown-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  /* Style des éléments du dropdown */
  .dropdown-item {
    color: #f5f5f5;
    font-family: "Readex Pro", serif;
    font-weight: 600;
    font-size: 1.1em;
  }
  
  /* Survol des éléments du dropdown */
  .dropdown-item:hover {
    background-color: #121212;
  }
  
  /* Commutateur de langue */
  .language-switcher {
    display: flex;
    gap: 10px;
  }
  
  /* Boutons de sélection de langue */
  .btn-lang {
    font-family: "Readex Pro", serif;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
    font-family: "Readex Pro", serif;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Survol des boutons de langue */
  .btn-lang:hover {
    background-color: #f5f5f5;
    color: #121212;
  }
  
  /* Bouton de langue actif */
  .btn-lang.active {
    background-color: #f5f5f5;
    color: #121212;
  }

  
  
  /* Changer la taille de l'icône */
  .bi {
    font-size: 50px; /* Ajuster la taille */
  }
  
  /* Changer la couleur de l'icône */
  .bi-list {
    color: #f5f5f5; /* Couleur claire pour le menu */
  }
  
  /* Media Queries pour les écrans réduits */
  @media screen and (max-width: 1200px) {
    .navbar-nav {
      flex-direction: column; /* Empile les liens en colonne */
      width: 100%; /* Respecte la largeur de l'écran */
      margin: 0; /* Supprime les marges */
      padding: 0;
    }
  
    .router-link-exact-active::after {
      display: none;
    }

    .nav-link {
      font-size: 1.4em; /* Réduit la taille du texte */
      width: 100%; /* Les liens occupent toute la largeur */
      text-align: center; /* Centre le texte des liens */
    }
  
  }
  