@import 'mixins';
@import 'variables';

main {
    background-color: var(--background-color);
    height: 100%;
  }
/* Liens */
a {
    color: var(--text-color);
    font-weight: bolder;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Bouton "Me Contacter" */
  .me-contacter {
    font-weight: 600;
  }
  
  /* Section Accueil */
  .home {
    padding-bottom: 125px;
    padding-left: 0;
    padding-right: 0;
    background-color:  var(--background-color);
    height: 100%;
    // min-height: 100%;
    // min-width: 100%;
  }
  
  /* Parralax */
  .hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65); /* ajuste ici */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}
  
  /* Texte d'introduction de la page d'accueil */
  .home-text-intro {
    padding: 50px 0;
    min-width: 200px; /* Ajustez cette valeur en fonction de vos besoins */
    max-width: 715px; /* Ajoutez un maximum pour éviter que le texte déborde */
    flex-grow: 1; /* Permet de s'adapter aux changements, mais reste équilibré */
    
  }

  /* Conteneur circulaire */
  .circle-container {
    position: relative;
    @include displayFlex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.9);
    padding-bottom: 60px;
  }
  
  .circle-container img {
    max-width: 100%;
  }
  
  /* Texte principal */
  #text-body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-align: left;
    padding-top: 30px;
  }

  #text-body p{ 
    color: var(--text-color);
  }
  
  /* Titre de salutation */
  #text-greetings {
    font-size: 3.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--text-color);
  }
  
  /* Auteur */
  .author {
    @include displayFlex;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  
  /* Boutons */
  .btn-primary {
    background-color: black;
    color: black;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: rgb(0, 0, 0);
  }
  
  #consult-cv:hover {
    color: #ebe6e0;
  }
  
  /* Sources Personnelles */
  #sources-perso {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icônes */
  .bi {
    margin: 10px;
    cursor: pointer;
    color: var(--text-color);
    font-size: 25px;
  }
  
  /* Texte d'introduction */
  #text-intro {
    font-size: 2.5em;
    font-weight: 100;
  }

  .cv {
    margin-top: 25px;
    height: 100vh;
    width: 50%;
  }
  
  /* Responsive Design */
  
  /* Tablettes */
  @media (max-width: 1200px) {
    .home {
      height: 100%;
    }
    #text-greetings {
      font-size: 3em;
    }
    #text-body {
      font-size: 1.3em;
    }
    .ma-photo {
      display: flex;
      justify-content: center;
    }
  }
  
  /* Mobiles */
  @media (max-width: 992px) {
    .cv {
      width: 85%;
    }
    .home-text-intro{
      padding-bottom: 0;
    }
    #text-greetings {
      font-size: 3em;
    }
    #text-body {
      font-size: 1.2em;
      text-align: left;
    }
  }
  
  /* Petits écrans */
  @media (max-width: 768px) {
    .cv {
      width: 95%;
    }
    #text-greetings {
      font-size: 2.8em;
      margin-bottom: 30px;
    }
    #text-body {
      font-size: 1.1em;
      line-height: 1.6;
      margin: 0 10px;
      text-align: left;
    }
    .tem {
      font-size: 1em;
      border-radius: 100px 0px 100px 0px;
      padding: 15px;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
  }
  
  /* Très petits écrans */
  @media (max-width: 576px) {
    .cv {
      width: 100%;
      padding: 0 15px;
    }
    #text-greetings {
      font-size: 2.3em;
      line-height: 1.2;
    }
    #text-body {
      font-size: 1em;
      text-align: left;
    }

    .tem {
      max-width: 100%;
      text-align: justify;
    }
  }
  